<div class="container">
  <h1 class="title-lg mt-lg mb"><%= t('main.title') %></h1>

  <% @themes.each_with_index do |theme, i| %>
    <div class="title mt theme"><%= link_to( t("main.theme##{i+1}"), "themes/#{theme.id}" ) %></div>
  <% end %>
</div>