<div class="new mt comment">
  <%= form_with url: 'create_comment' do |f| %>
    <p class="mt-sm"><%= f.label :comment_body, "Write your comment" %></p>
    <p class="mt-sm"><%= f.text_area :comment_body, rows: 5, class: "form-text-field" %></p>
    <p class="mt"><%= f.submit t("new.new_comment"), class: "button button-main" %></p>
  <% end %>
</div>