body {
  background: url(img_1.png);
	display: block;
	justify-content: center;
}

.wrapper {
	max-width: 1200px;
	margin-left: 160px;
	margin-right: 160px;
	width: 100%;
}

.container {
	background: #F4FAFF;
	height: 1500px;
}

.container, .navbar {
	padding: 10px;
}

.navbar {
	align-items: center;
	background-color: #6F5B9A;
	color: white;
	display: flex;
	justify-content: space-between;
}

.navbar a {
  color: #DEE7E7;
}

.new, .theme {
  border-color: #C1C3C3;
  border-style: solid;
  border-radius: 5px;
}

.theme {
	text-align: center;
	align-items: center;
}

.comment, .list {
	padding-left: 15px;
	padding-bottom: 10px;
}

.new-body {
	padding: 10px;
}