header, body {
  color: #1E1F1F;
  font-family: 'Trebuchet MS', sans-serif;
}

header span {
  color: #DEE7E7;
}

.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.container a {
  color: #6F5B9A;
}

.new-footer {
  color: #5A5E5E;
}